
//colors buttom
$buttonColor: #DA2535;

//colors footer back ground
$footerColor-BG: #0B1421;

//colors backGround
$backGround: #F9F9F9;

//colors texts
$textColors-01: #F9F9F9;

$textColors-02: #0B1421;

$textColors-03: #515151;

$textColors-04: #DA2535;